<div class="shop__sidebar">
    <div class="shop__sidebar__search">
        <form action="#">
            <input type="text" placeholder="Search...">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
    <div class="shop__sidebar__accordion">
        <div class="accordion" id="accordionExample">
            @await Component.InvokeAsync("LoaiSpMenu")
        </div>
    </div>
</div>