@model Nhom3_QLBanGiay.Models.SanPham
@{
    ViewData["Title"] = "DeleteByAPI";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4 style="text-align:center">Xóa sản phẩm</h4>
<form style="display: flex;
    width: 500px;
    margin:60px auto;" id="formElem">
    <select name="id">
        @foreach (var item in ViewBag.SP)
        {
            <option value="@item.MaSanPham">@item.TenSanPham</option>
        }
    </select>
    <input type="submit" value="Xóa" class="btn btn-danger" /> 
</form>

<script>
    formElem.onsubmit = async (e) => {
        e.preventDefault();

        let response = await fetch('https://localhost:7251/api/productsapi/sanpham/' + formElem.elements["id"].value, {
            method: 'delete'
        });

        if (response.status === 200) {
            alert('Xóa sản phẩm thành công');
            location.reload();
        } else {
            let result = await response.json();
            alert(result.message);
        }
    };
</script>
